---
import BaseLayout from '@/layouts/BaseLayout.astro'
import fetchApi from '../../lib/strapi'
import type Project from '@/interfaces/project'
import Card from '@/components/Card.astro'
import Image from 'astro/components/Image.astro'
import { ArrowRight } from 'lucide-react'
import { buttonVariants } from '@/components/ui/button'
import {
  BlocksRenderer,
  type BlocksContent,
} from '@strapi/blocks-react-renderer'

export const prerender = false

const projects = await fetchApi<Project[]>({
  endpoint: 'projects?populate=*', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
})

const { slug } = Astro.params
const project = projects.find((project) => project.slug === slug)

if (!project) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}

if (!project.description) return ''

const projectDescription: BlocksContent = project.description
---

<BaseLayout
  title={`Project | ${project?.title}`}
  description={`${project?.title} project page`}
>
  <main
    class="relative mx-auto grid w-full max-w-6xl gap-2 px-2 overflow-hidden sm:gap-2 sm:px-4 md:grid-cols-2 md:gap-3 md:px-6 lg:grid-cols-4 lg:grid-rows-4 lg:gap-4"
  >
    <Card
      server:defer
      colSpan="md:col-span-4"
      rowSpan="md:row-span-1"
      title="title"
    >
      <header class="flex items-center">
        <h2 class="text-xl font-bold text-primary">
          {project?.title}
        </h2>
      </header>
    </Card>
    <Card
      server:defer
      colSpan="lg:col-span-2 md:col-span-4"
      rowSpan="lg:row-span-3"
      title="image"
    >
      <div class="flex mt-2 justify-center items-center h-full w-full">
        <Image
          width="600"
          height="400"
          alt={project?.title || ''}
          src={import.meta.env.STRAPI_URL +
            project?.image[0].formats.medium.url}
          class="object-cover pointer-events-none select-none rounded-md"
          loading="eager"
        />
      </div>
    </Card>
    <Card
      server:defer
      colSpan="lg:col-span-2 md:col-span-4"
      rowSpan="lg:row-span-4"
      title="description"
    >
      <div class="flex h-full flex-col m-0 text-md font-light text-primary">
        <!-- <p class="m-0 text-md font-light text-primary"> -->
        <!-- {project.description} -->
        <!-- </p> -->
        <BlocksRenderer content={projectDescription} />
      </div>
    </Card>
    <Card
      server:defer
      colSpan="lg:col-span-2 md:col-span-4"
      rowSpan="md:row-span-1"
      title="url"
    >
      <div class="mt-4 flex w-full justify-center">
        <div
          class="card card-compact md:w-112 lg:w-128 w-96 gap-2 border-[oklch(var(--p))] transition-all"
        >
          <!-- <div class="mt-4 flex flex-col gap-2">
            <p class="text-sm text-muted-foreground">
              Click to see projects I made
            </p> -->
          <div
            class="card-actions mt-2 flex w-full items-center justify-center"
          >
            <a
              href={project.url}
              class={buttonVariants({ variant: 'default' })}
            >
              Visit project page
              <ArrowRight />
            </a>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </Card>
  </main>
</BaseLayout>
